
        #siteHeader {
            text-align: center;
            background-color: black;
            color: aquamarine;
            padding: 10px;
        }

        #mainFooter {
            text-align: center;
            font-size: 18px;
        }
